{% extends 'account/base.html' %}

{% block title %} Profile {% endblock %}
{% block body %}

<div class="row">
    <div class="container">
        <img src="{{request.user.professional.logo.url}}" alt="" class="rounded float-left w-25">
    </div>
</div>

<div class="container">
    <h4><b>Name:</b> {{user.first_name}} {{user.last_name}}</h4>
    <p><b>Service Charge:</b> {{user.professional.service_charge}}</p>
    <p><b>Contact Number:</b> {{user.professional.phone_no}}</p>
    <p><b>Job Completed:</b> {{user.professional.job_completed}}</p>
    <p><b>Address:</b> {{user.professional.address}}</p>
    <p><b>SubCategory:</b></p>
    {% for sub_category in subcategories %}
    <ul>
    <li>{{sub_category}}</li>
    </ul>  
    {% endfor %}

<div class="container my-5">
    <button class="btn btn-warning"><a href="{% url 'update_profile' %}">Edit Profile</a></button>
    <button class="btn btn-warning"><a href={% url 'request_verification' %}>Request Verification</a></button>
    <button class="btn btn-warning">Messages</button>
    <button class="btn btn-warning"><a href="{% url 'create_package' %}">Create Package</a></button>
    <button class="btn btn-warning"><a href="{% url 'view_package' pk=user.id %}">View Packages</a></button>
    <button class="btn btn-warning"><a href="{% url 'all_images' pk=user.id %}">All Images</a></button>
    
    
</div>

{% endblock %}