{% extends 'registration/base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="Enter Username">
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
        <input class="btn login_btn" type="submit" value="login"></input>
    </form>

    {% for message in messages %}
    <h3 id="messages">{{message}}</h3>
    {% endfor %}
</div>
<h3>New User? <a href="/register/">Register</a></h3>
{% endblock %}